TXLINE_JWT=
TXLINE_API_TOKEN=
TXLINE_API_HOST=https://txline-dev.txodds.com
SOLANA_RPC_URL=https://api.devnet.solana.com
KICKTICK_PROGRAM_ID=a9G9tTEmeALLBi2zf7zR4adbpR4U1N3r6cgRtZUV3o2
TXORACLE_PROGRAM_ID=6pW64gN1s2uqjHkn1unFeEjAwJkPGHoppGvS715wyP2J
WS_PORT=8080
